.sidebar {
  width: 20%;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  &_logo {
    margin-bottom: 150px;
    padding: 25px;
    padding-bottom: 0;
    width: 100%;
  }
  &_items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}
